@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #060606;
}

.features, .details, .roles, .message, .footer-links, .header-links, .subtext, .input-data, .release-date {
    font-family: "Rethink Sans", sans-serif;
}

::placeholder {
    font-family: 'Rethink Sans', sans-serif;
}